*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(1, 1fr);
   gap: 10px;
   border: 2px solid black;
}

.hijo1{
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid black;    
}

.hijo2{
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black;
}

.hijo3{
    background-color: rgb(234, 95, 8);
    padding: 20px;
    border: 2px solid black;
}

.hijo4{
    background-color: rgb(250, 8, 149);
    padding: 20px;
    border: 2px solid black;
}
